<h1> Edit a new employee</h1>

<%= form_tag "/employees/#{@employee.id}", method: :patch do %>

    <div>
    <%=label_tag :first_name %>
    <%=text_field_tag :first_name, @employee.first_name %>
    </div>

    <div>
    <%=label_tag :last_name %>
    <%=text_field_tag :last_name, @employee.last_name  %>
    </div>

     <div>
    <%=label_tag :email %>
    <%= text_field_tag :email, @employee.email%>
    </div>

     <div>
    <%=label_tag :job_title %>
    <%= text_field_tag :job_title, @employee.job_title%>
    </div>

     <div>
    <%=label_tag :salary %>
    <%= text_field_tag :salary, @employee.salary%>
    </div>

     <div>
    <%=label_tag :phone_number %>
    <%= text_field_tag :phone_number, @employee.phone_number%>
    </div>

     <div>
    <%=label_tag :gender %>
    <%= text_field_tag :gender, @employee.gender%>
    </div>

    <%= submit_tag "Punch It" %>


<% end %>