<h1> Employee List </h1>

<%= link_to "Add new employee", "/employees/new" %> 

<div class="row">
<% @employees.each do |employee| %>
  <div class="col-md-offset-1 col-md-4 col-sm-6 list-view">
    <div class"thumbnail">
        <h2><a href="/employees/<%= employee.id %>"><%=employee.full_name %></a></h2>
        <h2><%=employee.email %></h2>
        <h2><%=employee.job_title %></h2>
        <h2><%=employee.salary %></h2>
        <h2><%=employee.phone_number %></h2>
        <h2><%=employee.gender %></h2>
    </div>
  </div>    
<% end %>
</div>